# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.directory
.Trash-*

# Pandoc build artefacts
book.md
book.epub
book.fb2
book.html
book.docx
build-info.yaml
